{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid bg">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-3">
             <form method="POST" class="form-container">
              {% csrf_token %}
               <div class="mb-3">
                <label class="form-label">Nazwa użytkownika</label>
                <div class="form-control">{{ form.username }}</div>
              </div>
               <div class="mb-3">
                <label class="form-label">Hasło</label>
                <div class="form-control">{{ form.password }}</div>
              </div>
              <button type="submit" class="btn btn-primary">Zaloguj</button>
            </form>
          </div>
        </div>
    </div>

{% endblock %}
