{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid bg-user">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-8">
            <!-- zakładki użytkownika -->
            <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/usersearch">Wyszukaj warsztat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/userorders">Twoje zlecenia</a>
      </li>
    </ul>
  </div>
  <!-- karta wyszukaj warstat -->
  <div class="card-body">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Szukaj</button>
        </form>
      </nav>
      <!-- lista warsztatów -->
      <h2>Lista warsztatów</h2>
      <div id="accordion">
        <!-- TUTAJ BEDZIE FOR -->
              <div class="card">
        <div class="card-header">
        Warsztat U Ryśka
        </div>
        <div class="card-body">
          <!-- podzielona na kolumny treść karty -->
          <div class="row">
            <div class="col-lg-5">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
            <div class="col-lg-4">
              <!--Google map-->
              <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                <iframe src="https://maps.google.com/maps?q=manhatan&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
                  style="border:0" allowfullscreen></iframe>
              </div>

              <!--Google Maps-->
            </div>

            <div class="col-lg-3">
              <h2>Kontakt</h2>
              <p>Telefon: 987 654 321</p>
              <p>Mail: warsztat@rysek.pl</p>
              <p>Adres: Ul. Zielona 3, Gdańsk</p>
              </br>
              <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Nazwa zlecenia:</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Opis:</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                </form>
              <!-- przycisk zgłoś kierownikowui problem-->

              <button type="button" class="btn btn-primary">Nowe Zlecenie</button>

            <!-- koniec przycisk zgłoś kierownikowui problem-->

           </div>

          </div>
      </div>
      </div>
  </div>
</div>
          </div>
        </div>
    </div>

{% endblock %}
