{% extends 'base.html' %}
{% block content %}

    <div class="container-fluid bg-user">
        <div class="row justify-content-center">
          <div class="col-12 col-sm-6 col-md-8">
            <!-- zakładki użytkownika -->
            <div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link " href="/usersearch">Wyszukaj warsztat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/userorders">Twoje zlecenia</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

      <!-- lista warsztatów -->
      <h2>Lista zleceń</h2>
      <div id="accordion">
        <!-- TUTAJ FOR -->
        <div class="card">
  <div class="card-header">
  Wymiana opon
  </div>
  <div class="card-body">
    <!-- podzielona na kolumny treść karty -->
    <div class="row">
      <div class="col-lg-8">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.

      </div>
      <div class="col-lg-2">
        Status: W trakcie
      </div>
    </div>
</div>


      </div>
  </div>
</div>
          </div>
        </div>
    </div>

{% endblock %}
